@import url(http://fonts.googleapis.com/css?family=Oxygen:400,700,300);
@import url(http://fonts.googleapis.com/css?family=Oxygen+Mono);

html, body {
  background: #F5F7FA;
  font-family: 'Oxygen', helvetica, arial, sans;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 40px;
  padding-top: 70px;
}
.footer {
  padding: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 1001;
  /* Set the fixed height of the footer here */
  height: 40px;
  background-color: #222;
}
.footer > .container-fluid {
  padding-right: 15px;
  padding-left: 15px;
}
.footer > .container-fluid .text-muted {
  color: #8c8c8c;
  margin: 10px 0;
}
.footer > .container-fluid .text-muted a {
  color: #8c8c8c;
}
.footer > .container-fluid .text-muted a:hover {
  color: #bebebe;
}


/* Loader
-------------------------------------------------- */
[ng-cloak] { display: none; }
[ng-cloak].loading { display: inline-block !important; }
.loading { display: none; }

/* Nav
-------------------------------------------------- */
.navbar a {
  cursor: pointer;
}
.navbar-brand {
  margin-bottom: 0;
}
.navbar-inverse .navbar-brand:hover {
  color: #8c8c8c;
}

.navbar-brand .active {
  color: #fff;
}
.expires {
  display: inline-block;
  padding-left: 12px;
}
.disabled .expires {
  color: #656d78;
}
.btn-create {
  margin-right: 12px;
}

.btn-create {
  color: #E6E9ED;
  background: #434A54;
  border-color: #434A54;
}
.btn-create:hover {
  color: #fff;
  background: #765ABC;
  border-color: #765ABC;
}

/* Home
-------------------------------------------------- */
.topic {
  background: #4A89DC;
  color: #fff;
  position: relative;
  padding: 30px 0 60px;
  margin-top: -20px;
  margin-bottom: 20px;
}

/* Bin
-------------------------------------------------- */

/* sidebar */
.sidebar {
  position: fixed;
  top: 51px;
  bottom: 40px;
  left: 0;
  z-index: 1000;
  display: block;
  padding: 6px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  background-color: #434A54;
  width: 520px;
}

/* request list */
.request-list {
  font-family: 'Oxygen Mono', monospace;
}

.sidebar .list-group-item {
  background: #656D78;
  color: #fff;
  border-color: #434A54;
  padding: 10px;
}

.sidebar .panel .list-group-item:first-child {
  border-top: none;
}

.sidebar .panel>.panel-heading {
  background: #757D88;
  border-color: #434A54;
  color: #fff;
  text-align: center;
}
.sidebar .panel>.panel-heading.open {
  background: #3bafda;
}
.sidebar .panel>.panel-heading.fadein {
  -webkit-animation: fadein 4s; /* Safari and Chrome */
     -moz-animation: fadein 4s; /* Firefox */
      -ms-animation: fadein 4s; /* Internet Explorer */
       -o-animation: fadein 4s; /* Opera */
          animation: fadein 4s;
}

@keyframes fadein {
  0%   { background: #3bdfaa; }
  50%  { background: #3bdfaa; }
  100% { background: #757D88; }
}

/* Firefox */
@-moz-keyframes fadein {
  0%   { background: #3bdfaa; }
  50%  { background: #3bdfaa; }
  100% { background: #757D88; }
}

/* Safari and Chrome */
@-webkit-keyframes fadein {
  0%   { background: #3bdfaa; }
  50%  { background: #3bdfaa; }
  100% { background: #757D88; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  0%   { background: #3bdfaa; }
  50%  { background: #3bdfaa; }
  100% { background: #757D88; }
}

/* Opera */
@-o-keyframes fadein {
  0%   { background: #3bdfaa; }
  50%  { background: #3bdfaa; }
  100% { background: #757D88; }
}

.sidebar pre {
  word-wrap: normal;
  background: #434A54;
  border-color: #656D78;
  color: #F5F7FA;
}
.sidebar pre:last-child {
  margin-bottom: 0;
}
.sidebar .panel {
  background: none;
}

.request-toggle {
  background-color: transparent;
  margin-bottom: 0;
}
.request-toggle .panel-heading {
  border-radius: 0;
}
.request-toggle:first-child .panel-heading {
  border-radius: 4px 4px 0 0;
}
.request-toggle:last-child .panel-heading:not(.open) {
  border-radius: 0 0 4px 4px;
}
.request-toggle:only-child .panel-heading:not(.open) {
  border-radius: 4px;
}
/* what am I even doing here */
.request-toggle.open.panel:not(:last-child)>.list-group:last-child .list-group-item:last-child {
  margin-bottom: 1px;
  border-radius: 0;
}
.detail-toggle,
.geo-toggle {
  cursor: pointer;
}
.detail-toggle:hover {
  text-decoration: underline;
}

/* map */

.bin-map {
  background: #434A54;
  padding: 20px;
  overflow: hidden;

  position: fixed;
  top: 51px;
  right: 0;
  bottom: 40px;
  left: 520px;
  z-index: 1000;
}

#map {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
