{
  "Host": "0.0.0.0",
  "Port": 8080,
  "RedisHost": "127.0.0.1:6379",
  "RedisPass": "",
  "RedisDB": 0,
  "NameVals": "023456789abcdefghjkmnopqrstuvwxyzABCDEFGHJKMNOPQRSTUVWXYZ",
  "NameLength": 10,
  "RateLimit": 1,
  "BinExpires": 48
}
