<div class="topic">
  <div class="container">
    <h1>Geobin</h1>
    <p>Visualize HTTP Requests with Geographic Data</p>
  </div>
</div>

<div class="container">
  <div class="row">

    <div class="col-md-7">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">What is Geobin?</h2>
        </div>
        <div class="panel-body">
          <p>Geobin allows you to create a temporary URL to collect and inspect JSON requests that contain geographic data. Inspect the headers and body of a request and view any geographic data parsed out of the body on a map.</p>
          <p>You can also receive data in real time. As long as your browser supports <a href="http://caniuse.com/websockets">WebSockets</a>, once you're looking at a geobin, new data will be streamed directly to the browser and any found geographic data will be mapped instantly.</p>
          Hat tip to <a href="http://requestb.in">RequestBin</a> for inspiration.
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">How do I use it?</h2>
        </div>
        <div class="panel-body">
        
            <p>You can create a new temporary bin by clicking the "<a href="" analytics-on="click" analytics-event="Create Geobin" ng-click="create()">Create a New Geobin</a>" button above to get
                a new randomly generated Bin ID, or you can use an arbitrary custom Bin ID of your choosing.</p>

            <p>To verify that your custom ID valid and is not currently being used by someone else go put the ID in after the slash:
                <a href="http://{{host}}/my_custom_bin_id">http://{{host}}/my_custom_bin_id</a>.</p>

            <p>After you have a URL, post some data to it! We currently only accept JSON formatted data in the body of HTTP POST requests.</p>

            <p>Anything you post to geobin will expire after 48 hours. The history list to the right shows the Geobins you've viewed recently and the amount
                of time until their last piece of data will expire.</p>

            <p>It is also worth noting that Geobin is built to be a tool for quickly visualizing data in a temporary fashion. Its primary
                purpose is to be a debugging tool. As such, there is no access control for the bins. Anyone with the URL can POST to or view
                the data in the bin. Given that, it is a good idea to avoid using a custom bin ID that has a high probability of a clash with
                others. Please keep this in mind when posting data to a bin, <strong>it is not secured or protected in any fashion</strong>.</p>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">How do we find geographic data?</h2>
        </div>
        <div class="panel-body">
          <p>We look for <a href="http://geojsonlint.com/">valid</a> <a href="http://geojson.org/geojson-spec.html">GeoJSON</a>. If no GeoJSON is detected, we'll also look for the following properties:</p>

          <h4>Latitude &amp; Longitude</h4>
          <p>expected format:</p>
          <pre>{
  "latitude": 0,
  "longitude": 0
}</pre>
          <p>accepted keys:</p>
          <p><strong>Latitude</strong>: <code>lat</code>, <code>latitude</code>, <code>y</code></p>
          <p><strong>Longitude</strong>: <code>lng</code>, <code>lon</code>, <code>long</code>, <code>longitude</code>, <code>x</code></p>

          <h4>Radius</h4>
          <p>expected format:</p>
          <pre>{
  "latitude": 0,
  "longitude": 0,
  "radius": 0
}</pre>
          <p>accepted keys:</p>
          <p><code>dst</code>, <code>dist</code>, <code>distance</code>, <code>rad</code>, <code>radius</code>, <code>acc</code>, <code>accuracy</code></p>
          <p>note: expects meters</p>

          <h4>Coordinates</h4>
          <p>expected format:</p>
          <pre>{
  "coords": [0,0]
}</pre>
          <p>accepted keys:</p>
          <p><code>geo</code>, <code>loc</code>, <code>location</code>, <code>coord</code>, <code>coordinate</code>, <code>coords</code>, <code>coordinates</code></p>
        </div>
      </div>
    </div>

    <div class="col-md-5">
      <div class="panel panel-primary">
        <div class="panel-heading"><i class="fa fa-clock-o"></i> Your History</div>
        <table ng-if="bins.length" class="table">
          <thead>
            <tr>
              <th>Geobin ID</th>
              <th class="text-center"># of Requests</th>
              <th class="text-right">Expiration</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in bins track by $index">
              <td><a ui-sref="bin.list({binId: item.id})">{{item.id}}</a></td>
              <td class="text-center">
                <span ng-if="counts[item.id]">{{counts[item.id]}}</span>
                <span ng-if="!counts[item.id]">0</span>
              </td>
              <td class="text-right">{{item.expires | timeRemaining}} left</td>
            </tr>
          </tbody>
        </table>

        <div ng-if="!bins.length" class="panel-body">
          <p ng-if="enabled">When you create a new geobin it will show up in this list until it expires, as long as you're using the same browser on your next visit. If you need to access a geobin on another browser or computer, or want to send it to a friend, just copy the link!</p>
          <p ng-if="!enabled">Oh no! It looks like your browser doesn't support localStorage. To get the most out of this service, please consider using the latest version of a <a href="http://whatbrowser.org/">modern browser</a> like Chrome or Firefox.</p>
        </div>
      </div>
    </div>

  </div>
</div>
