.navbar-brand.title a {
  color: #ddd;
  text-decoration: none;
}
.navbar-brand.title a:hover {
  color: #fff;
}
.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-brand:hover {
  color: #ccc;
}
.navbar-inverse .navbar-brand small {
  color: #999;
}
.callback-content pre {
  display: none;
  font-size: 11px;
}
.callback-content pre.active {
  display: block;
}
a.list-group-item {
  cursor: pointer;
}

.bin-wrapper { margin: 0 20px; }

#map { height: 400px; }

.json .string { color: green; }
.json .number { color: darkorange; }
.json .boolean { color: blue; }
.json .null { color: magenta; }
.json .key { color: red; }

.panel-heading[data-toggle="collapse"] {
  cursor: pointer;
}

.panel-heading[data-toggle="collapse"]:hover {
  color: #42abca;
}
