<div class="topic">
  <div class="container">
    <h1>Geobin</h1>
    <p>Inspect HTTP Requests with Geographic Data</p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-7">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">It's like RequestBin, but different</h2>
        </div>
        <div class="panel-body">
          <p class="lead">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
          <p>Lorem ipsum dolor sit amet, consectetaur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="panel panel-primary">
        <div class="panel-heading"><i class="fa fa-clock-o"></i> Your History</div>
        <div ng-hide="bins.length" class="panel-body">
          <p ng-show="enabled">When you create a new geobin, it will show up in this list until it expires as long as you're using the same browser on your next visit. If you need to access a geobin on another browser or computer, or send it to a friend, just copy the link!</p>
          <p ng-hide="enabled">Oh no! It looks like your browser doesn't support localStorage. To get the most out of this service, please consider using the latest version of a <a href="http://whatbrowser.org/">modern browser</a> like Chrome or Firefox.</p>
        </div>
        <table ng-show="bins.length" class="table">
          <thead>
            <tr>
              <th>Geobin ID</th>
              <th class="text-center"># of Requests</th>
              <th class="text-right">Expiration</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in bins track by $index">
              <td><a href="/{{item.id}}">{{item.id}}</a></td>
              <td class="text-center">0</td>
              <td class="text-right">{{item.expires | timeRemaining}} left</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
