<ul class="list-group request-list">
  <li class="list-group-item clearfix">

    <div class="btn-group btn-group">
      <div class="btn"
        data-toggle="tooltip" data-placement="bottom" title="date request was received">
        <i class="glyphicon glyphicon-calendar"></i>
        {{item.timestamp | prettyDate}}
      </div>
      <div class="btn"
        data-toggle="tooltip" data-placement="bottom" title="time request was received">
        <i class="glyphicon glyphicon-time"></i>
        {{item.timestamp | prettyTime}}
      </div>
      <button type="button" class="btn btn-info pull-left"
        ng-disabled="!isArray(item.geo)"
        ng-init="geoActive = true"
        ng-click="toggleGeo(item); geoActive = !geoActive;"
        data-toggle="tooltip" data-placement="bottom" title="toggle geo">
        <i ng-if="geoActive" class="glyphicon glyphicon-eye-open"></i>
        <i ng-if="!geoActive" class="glyphicon glyphicon-eye-close"></i>
        {{item.geo | arrLength}}
      </button>
    </div>

    <button type="button" class="btn btn-info pull-right"
      data-toggle="tooltip" data-placement="bottom" title="details"
      ui-sref="bin.list({id:binId})">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Back to List
    </button>

  </li>
</ul>

<div class="panel">
  <div class="panel-heading">Request Headers</div>
  <ul class="list-group">
    <div ng-repeat="(k, v) in item.headers" class="list-group-item">
      {{k}}: {{v}}
    </div>
  </ul>
</div>

<div class="panel">
  <div class="panel-heading">Request Body</div>
  <ul class="list-group">
    <li class="list-group-item">
      <pre>{{item.body | prettyJson}}</pre>
    </li>
  </ul>
</div>

<div ng-if="item.geo" class="panel">
  <div class="panel-heading">Found Geographic Data</div>
  <ul class="list-group">
    <li class="list-group-item">
      <pre>{{item.geo | prettyJson}}</pre>
    </li>
  </ul>
</div>
