{{$u := .Name}}
<script type="text/javascript">
function domReady () {
  if ('WebSocket' in window) {
    console.log('websockets available');
  } else {
    console.log('websockets unavailable');
  }
}

// Mozilla, Opera, Webkit
if ( document.addEventListener ) {
  document.addEventListener( "DOMContentLoaded", function(){
    document.removeEventListener( "DOMContentLoaded", arguments.callee, false);
    domReady();
  }, false );

// If IE event model is used
} else if ( document.attachEvent ) {
  // ensure firing before onload
  document.attachEvent("onreadystatechange", function(){
    if ( document.readyState === "complete" ) {
      document.detachEvent( "onreadystatechange", arguments.callee );
      domReady();
    }
  });
}
</script>
<div id="history">
    {{range .History}}
    <div>
        {{range .}}
        <p>
            {{.}}
        </p>
        {{end}}
    </div>
    {{else}}
    <p id="empty">No History Yet.</p>
    {{end}}
</div>