<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>geobin.io</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.css">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  {{$u := .Name}}
  <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="navbar-header">
      <div class="navbar-brand title"><i class="fa fa-globe"></i> <a href="/">GeoBin</a> <small class="status">is trying to connect</small></div>
    </div>
  </nav>

  <div class="bin-wrapper">
    <div class="alerts"></div>
    <div class="row">
      <div class="col-md-2">
        <div class="callback-nav">
          <ul class="list-group waiting">
            <li class="list-group-item">no requests yet</li>
          </ul>
        </div>
      </div>
      <div class="col-md-5">
        <div class="callback-content">
          {{range .History}}
          <div>
              {{range .}}
              <p>
                  {{.}}
              </p>
              {{end}}
          </div>
          {{else}}
          <p id="empty">No History Yet.</p>
          {{end}}
        </div>
      </div>
      <div class="col-md-5">
        <div id="map"></div>
      </div>
    </div>
  </div>

  <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.js"></script>
  <script src="http://esri.github.io/esri-leaflet/lib/esri-leaflet/esri-leaflet.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <script src="/js/geobin.js"></script>
  <script src="/js/client.js"></script>
</body>
</html>
